.card {
  width: 325px;
  height: 328px;
  position: relative;
  list-style: none;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.card__name {
  position: absolute;
  top: 15px;
  left: 15px;

  margin: 0;
  padding: 2px 12px;

  background: white;
  border-radius: 4px;

  font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.card__like-container {
  position: absolute;
  bottom: 15px;
  right: 15px;

  display: flex;
  align-items: center;
  gap: 6px;
}

.card__like-button {
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  background-image: url("../../assets/like-default.svg");
  background-size: cover;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../../assets/like-active.svg");
}

.card__like-count {
  font-size: 14px;
  color: #000;
}
