.header {
  font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  font-weight: 700;
  margin: 0 20px 0 auto;
  border: none;
  background: transparent;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.placeholder-avatar {
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
}

.header__auth-link {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.header__auth-link:hover {
  opacity: 0.7;
}
