.item-modal {
  font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.item-modal__content {
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  width: 498px;
  height: auto;
  overflow: hidden;
  background: #fff;
  position: relative;
}

.item-modal__content_type_image {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.item-modal__image {
  width: 498px;
  height: 498px;
  object-fit: cover;
  display: block;
}

.item-modal__close {
  background: transparent;
  border: none;
}

.item-modal__close-btn {
  background: transparent;
}

.item-modal__delete-btn {
  font-weight: 700;
  border: none;
  background-color: #fff;
  color: rgba(255, 77, 0, 1);
  position: relative;
  left: 336px;
  bottom: 100px;
}

.item-modal__delete-btn:hover {
  font-size: 21px;
  cursor: pointer;
}

.item-modal__footer {
  height: 112px;
  padding: 16px;
  background-color: #fff;
}
