.sidebar {
  font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
  margin-right: 16px;
  flex-shrink: 0;
}

.sidebar__username {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  white-space: nowrap;
}

.sidebar__avatar-placeholder {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__edit-button {
  margin-top: 16px;
  background: transparent;
  border: none;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
}

.sidebar__edit-button:hover {
  opacity: 0.6;
}
